@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* base styles & title */
body{
  font-family: 'Bebas Neue', cursive;
  color: black;
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
